/*h1 {
    color: red !important;
}

.navbar-inverse {
    background-image: linear-gradient(#ec0040, #c50333 60%, #c10036);
}

body {
    background-color: #c10036;
}

.navbar-inverse {
    background-image: linear-gradient(#e9242d, #e9242d 60%, #e9242d);

}
.dropzone {
    min-height: 150px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background:darkred;
    padding: 20px 20px;
}

.logo {
    text-align: center;
}
.navbar-inverse .navbar-nav>li>a {
    color:white;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #c8c8c8;
    background-color: #272b30;
}
.container {
    height: 100%;
}
*/
.navbar-inverse {
    background-color: #4b1f68;
}
.navbar-brand>img {
    display: block;
    height: 150%;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    z-index: 3;
    color: #ffffff;
    background-color: #4b1f68;
    border-color: transparent;
    cursor: default;
}



svg:not(:root).svg-inline--fa.element {
    overflow: visible;
    margin: 0px 7px;
    color: #fff;
}
svg:not(:root).svg-inline--fa.element.title {
    overflow: visible;
    margin: 0px 7px;
    color:blueviolet;
}

td.total {
    
    color: #04a1dd;
    border-radius: 0%;
    border: 2px 0 0 0 #04a1dd;
    text-align: center;
}
.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.add_eng>.panel-primary>.panel-heading {
    color: #ffffff;
    background-color: #9ba05c;
    border-color: #9ba05c;
}
.add_eng {
    background-color: #f2f2f2;
    margin: auto;
    max-width: 70%;
}
.panel-primary {
    border-color: #ebebeb;
    background-color: #ffffff;
}
h3, .h3 {
    text-align: center;
    font-size: 26px;
}

#eng_ico {
    color: #9fa411;
    margin-right: 5px;
    margin-left: 5px;
}
#ven_ico {
    color: #6c9196;
    margin-right: 5px;
    margin-left: 5px;
}
#\32 > div{
    background-color: #ebebeb;
}
#quantity{
    max-width: 80px;
}
#model_form > div.well.well-sm{
    margin: auto;
    max-width: 45%;
}
#model_form > div.well.well-sm > button{
    width: 50%;
    float: right;
}

.add_vendor>.panel-primary>.panel-heading {
    color: #ffffff;
    background-color: #6c9196;
    border-color: #6c9196;
}
.add_vendor {
    background-color: #f2f2f2;
    margin: auto;
    max-width: 70%;
}
#pending{
    color: #e99002;
    margin-right: 5px;
    margin-left: 5px;
}
#reserved{
    color: #04a1dd;
    margin-right: 5px;
    margin-left: 5px;
}
#destroyed{
    color: red;
    margin-right: 5px;
    margin-left: 5px;
}
/*
body > div.container > div > div > div:nth-child(3) > div.table-responsive > table > tbody > tr > td{
    padding: 3px;
    vertical-align: bottom;
    max-width: 38px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
body > div.container > div > div > div:nth-child(3) > div.table-responsive > table > tbody > tr > td:hover {
    padding: 3px;
    vertical-align: bottom;
    max-width: 38px;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    background-color: transparent;
    font-size: 18px;
    text-align: center;
 
}
*/
#s_label {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    margin-left: 10px;
    font-size: 10px;
    color: #2c2c2c
}
#legend{
    text-align: right;
}
#search_input{
    margin-top: 10px;
}
.dash_iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    
}
.dash_iframe {
    height: 6000px;
    width:1000px;
    position: relative;
    padding-bottom: 56.25%;
}
i.fa.fa-file-pdf-o {
    font-size: 15pt;
    color: crimson;
}
i.fa.fa-file-archive-o {
    font-size: 15pt;
    color: goldenrod;
}
i.fa.fa-file-word-o {
    font-size: 15pt;
    color: cornflowerblue
}
#comment_row_ownerCommentComment{
    background-color: rgb(241, 241, 244);
    width: 30%;
    padding: 15px;
    text-align: justify;
}
#comment_row_contractorReplyComment{
    background-color: rgba(241, 241, 228, 0.301);
    width: 30%;
    text-align: justify;
    padding: 15px;
}
#comment_row_ownerCounterReplyComment{
    background-color: rgb(241, 241, 244);
    width: 30%;
    text-align: justify;
    padding: 15px;
}
#comment_row_contractorReplyStatus{
    background-color: rgb(241, 241, 244);
    width: 10%;
    text-align: justify;
    padding: 15px;
}

.revision {
    text-align: center;
}



.Final{
    background-color: #738b9473 !important;
}
.Commented{
    background-color: rgb(106, 130, 124) !important; 
}
.Replied{
    background-color: rgb(133, 155, 173) !important;
}



.Current{
    padding: 4px;
    width: 68px;
    background-color: #d3272e;
    font-size: 8pt;
    text-transform: uppercase;
    text-align: center;
    color: whitesmoke;
}
.RevCardTitle {
    background-color: rgb(41, 110, 167);
    text-align: center;
    color: white;
    padding: 5px;
    margin-bottom: 5px;
}
.name, .stage_class {
    display: none;
}
.current_cs {
    display: inline-flex;
    color: #aaa;
}
.finalComment{
    text-align: center;
    background-color: #2e2e2e2e;
}
.final-comment-footer{
    height: 20px;
}

i.fa.fa-arrow-circle-left{
    margin-right: 10px;
    color: rgb(196, 160, 1) !important; 
}
i.fa.fa-arrow-circle-right{
    margin-right: 10px;
    color: rgb(105, 22, 47) !important; 
}
i.fa.fa-check-circle{
    margin-right: 10px;
    color: rgb(22, 105, 47) !important; 
}
.document_title{
    
    text-align: center;
    font-size: 20pt;
}