{% extends 'appbuilder/baselayout.html' %}

{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/mycss.css')}}"></link>

    {% endblock %}

{% block head_js %}
    {{ super() }}
   

    {% endblock %}

{% block body %}
{{ super() }}
{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}
     
{% block messages %}
     {{ super() }}
     
{% endblock %}

    
    {% block content %}
    {{ super() }}
    
      {% endblock %}
    
   

